<link rel="stylesheet" type="text/css" href="/css/theme.css"/>

<div>    
    <div class="roundedBox">
        <h1 class="center">Feet Reflexology</h1>
        <table class="center">
            <tr><th class="table-left">Service</th><th class="table-left">Price</th></tr>
            <tr><td class="table-left">30 minutes Foot Massage</td><td class="table-left">$25.00</td></tr>
            <tr><td class="table-left">60 minutes Foot Massage</td><td class="table-left">$40.00</td></tr> 
            <tr><td class="table-left">60 minutes Head to Toe Foot Massage (including head, neck, shoulder arm, hands & foot massage)</td><td class="table-left">$45.00</td></tr> 
        </table>
    </div>
    <div class="roundedBox">
        <h1 class="center">Whole Body Massage</h1>
        <table class="center">
            <tr><th class="table-left">Service</th><th class="table-left">Price</th></tr>            
            <tr><td class="table-left">30 minutes Body / Back Massage</td><td class="table-left">$40.00</td></tr> 
            <tr><td class="table-left">Private 60 minutes Feet / Back Massage</td><td class="table-left">$50.00</td></tr>
            <tr><td class="table-left">60 minutes Hot Stone Swedish Body Massage</td><td class="table-left">$60.00</td></tr> 
            <tr><td class="table-left">60 minutes Hot Stone Deep Tissue Massage</td><td class="table-left">$60.00</td></tr> 
            <tr><td class="table-left">90 minutes Swedish Massage</td><td class="table-left">$80.00</td></tr> 
            <tr><td class="table-left">90 minutes Deep Tissue Massage</td><td class="table-left">$90.00</td></tr> 
        </table>
    </div>
</div>
